<%= form_for @user do |f|  %>
  <div class="float_label">
  <%= f.text_field :email %>
  <%= f.label :email %>
  </div>
  
  <div class="float_label">
  <%= f.password_field :password %>
  <%= f.label :password %>
  </div>
  
  <%= f.submit 'Login' %>

<% end %>


<%= link_to('Log in with Facebook!', '/auth/facebook') %>