<%= form_for [category, item], url:url, html:{class:'crud-form'} do |f| %>

    <div class="float-label">
   <%= f.file_field  :image, class:'limit-width'%>
    <%= f.label :image, 'Add Image' %>
  </div>
  
  <div class="float-label">
   <%= f.text_field :name, required: true %>
    <%= f.label :name %>
  </div>

  <div class="float-label">
   <%= f.text_field :pieces, required: true %>
    <%= f.label :pieces %>
  </div>

  <div class="float-label">
   <%= f.text_field :price, required: true %>
    <%= f.label :price %>
  </div>

  <div class="float-label">
   <%= f.text_area :description %>
    <%= f.label :description %>
  </div>



  <%=f.submit class:'btn btn-crud' %>
<% end %>
