<%= form_for [category, item], url:url do |f| %>
<%= f.hidden_field :category_id %>
  <div class="floating_label">
   <%= f.text_field :name %>
    <%= f.label :name %>
  </div>

  <div class="floating_label">
   <%= f.text_field :pieces %>
    <%= f.label :pieces %>
  </div>

  <div class="floating_label">
   <%= f.text_field :price %>
    <%= f.label :price %>
  </div>



  <div class="floating_label">
   <%= f.text_field :description %>
    <%= f.label :description %>
  </div>

    <div class="floating_label">
   <%= f.file_field  :image %>
    <%= f.label :image %>
  </div>

  <%=f.submit  %>

 
 


<% end %>