<div class="dashboard dashboard__container">
  <div class="dashboard__stats">
  <h3>Today Stadistics</h3>
  <div class="stat__container">
    <div class="users flex-container center-flex">
      <h4>Average Order</h4>
      <h5>£ <%= average_order(@today_stats) %></h5>
    </div>
    <div class="new_comments flex-container center-flex">
      <h4>% new orders </h4>
      <h5><%= order_diff(@today_stats, @yesterday_stats) %> %</h5>
    </div>
    <div class="orders flex-container center-flex">
      <h4>% Orders value</h4>
      <h5><%= value_diff(@today_stats, @yesterday_stats)%> 
      %</h5>
    </div>
    <div class="revenue flex-container center-flex">
      <h4>Profit diff</h4>
      <h5>£ <%= profit_diff(@today_stats, @yesterday_stats) %></h5>
    </div>
  </div>
</div>
  <%= render 'admin/partials/stats', stats: @today_stats, date: 'today' %>
  <%= render 'admin/partials/stats', stats: @yesterday_stats, date: 'yesteray' %>
  <%= render 'admin/partials/stats', stats: @week_stats, date: 'week' %>
  <%= render 'admin/partials/stats', stats: @month_stats, date: 'month' %>
  <%= render 'admin/partials/stats', stats: @year_stats, date: 'year' %> 
</div>
