<div class="dashboard dashboard__container">

  <div class="dashboard__stats">
    <h3>Today Stats</h3>
    <div class="stat__container">
      <div class="users flex-container center-flex">
        <h4>New users</h4>
        <h5><%= @today_stats[:users] %></h5>
      </div>
      <div class="comments flex-container center-flex">
        <h4>new comments</h4>
        <h5><%= @today_stats[:comments] %></h5>
      </div>
      <div class="orders flex-container center-flex">
        <h4>Placed orders</h4>
        <h5><%= @today_stats[:orders] %></h5>
      </div>
      <div class="revenue flex-container center-flex">
        <h4>Profit</h4>
        <h5>£ <%= @today_stats[:profit] %></h5>
      </div>
    </div>

  </div>
  <div class="dashboard__stats">
    <h3>yesterday Stats</h3>
    <div class="stat__container">
      <div class="users flex-container center-flex">
        <h4>New users</h4>
        <h5><%= @yesterday_stats[:users] %></h5>
      </div>
      <div class="comments flex-container center-flex">
        <h4>new comments</h4>
        <h5><%= @yesterday_stats[:comments] %></h5>
      </div>
      <div class="orders flex-container center-flex">
        <h4>Placed orders</h4>
        <h5><%= @yesterday_stats[:orders] %></h5>
      </div>
      <div class="revenue flex-container center-flex">
        <h4>Profit</h4>
        <h5>£ <%= @yesterday_stats[:profit] %></h5>
      </div>
    </div>
  </div>
  <div class="dashboard__stats">
    <h3>week Stats</h3>
    <div class="stat__container">
      <div class="users flex-container center-flex">
        <h4>New users</h4>
        <h5><%= @week_stats[:users] %></h5>
      </div>
      <div class="comments flex-container center-flex">
        <h4>new comments</h4>
        <h5><%= @week_stats[:comments] %></h5>
      </div>
      <div class="orders flex-container center-flex">
        <h4>Placed orders</h4>
        <h5><%= @week_stats[:orders] %></h5>
      </div>
      <div class="revenue flex-container center-flex">
        <h4>Profit</h4>
        <h5>£ <%= @week_stats[:profit] %></h5>
      </div>
    </div>
  </div>
  <div class="dashboard__stats">
    <h3>Month Stats</h3>
    <div class="stat__container">
      <div class="users flex-container center-flex">
        <h4>New users</h4>
        <h5><%= @month_stats[:users] %></h5>
      </div>
      <div class="comments flex-container center-flex">
        <h4>new comments</h4>
        <h5><%= @month_stats[:comments] %></h5>
      </div>
      <div class="orders flex-container center-flex">
        <h4>Placed orders</h4>
        <h5><%= @month_stats[:orders] %></h5>
      </div>
      <div class="revenue flex-container center-flex">
        <h4>Profit</h4>
        <h5>£ <%= @month_stats[:profit] %></h5>
      </div>
    </div>
  </div>
  <div class="dashboard__stats">
  <h3>Year Stats</h3>
    <div class="stat__container">
      <div class="users flex-container center-flex">
        <h4>New users</h4>
        <h5><%= @year_stats[:users] %></h5>
      </div>
      <div class="comments flex-container center-flex">
        <h4>new comments</h4>
        <h5><%= @year_stats[:comments] %></h5>
      </div>
      <div class="orders flex-container center-flex">
        <h4>Placed orders</h4>
        <h5><%= @year_stats[:orders] %></h5>
      </div>
      <div class="revenue flex-container center-flex">
        <h4>Profit</h4>
        <h5>£ <%= @year_stats[:profit] %></h5>
      </div>
    </div>
  </div>
  <div class="dashboard__stats">
    <h3>Stadistics</h3>
    <div class="stat__container">
      <div class="users flex-container center-flex">
        <h4>New users</h4>
        <h5>2</h5>
      </div>
      <div class="comments flex-container center-flex">
        <h4>new comments</h4>
        <h5>8</h5>
      </div>
      <div class="orders flex-container center-flex">
        <h4>Placed orders</h4>
        <h5>25</h5>
      </div>
      <div class="revenue flex-container center-flex">
        <h4>Profit</h4>
        <h5>£ 520.32</h5>
      </div>
    </div>
  </div>

</div>