<div class="tab">
  <input type="radio" id="rd<%= object.id %>" name="rd">
  <label class="tab-label" for="rd<%= object.id %>">Order by <%= object.user.name%>  on <%= object.order_date %></label>
  <div class="tab-content">
    <ul>
      <% object.items.each do |item| %>
        <li><%= item.name %> - £<%= item.price %></li>
      <% end %>
      <%# round is to prevent error in bad data already on DB %>
      <li>Total Order: £<%= object.total.round(2) %></li>
    </ul>
  </div>
</div>
