<%= content_tag :div, class:'header' do %>
<%= content_tag :div, class:'logo' do %>
<%= content_tag :h1, class:'heading-primary' do %>
<%= content_tag :span,'Sushi', class: 'heading-primary--main' %>
<%= content_tag :span,'To You', class: 'heading-primary--sub' %>
<% end %>
<%= image_tag('icons/sushi-1.png', class: 'logo__icon') %>
<% end %>
<div class="navigation">
  <input type="checkbox" id="navi-toggle" class="navigation__checkbox">
  <label for="navi-toggle" class='navigation__button'>
    <span class='navigation__icon'>&nbsp;</span>
  </label>
  <div class="navigation__background">&nbsp;</div>
 <%= total_items %>

  <nav class="navigation__nav">
    <ul class="navigation__list">
    <li class="navigation__item"><%= link_to 'checkout', 'orders/ckeckout', class: 'navigation__link' %> </li>
    <%= user_account %>
    <li class="navigation__item"><%= link_to 'menu', root_path, class: 'navigation__link' %> </li>
    <li class="navigation__item"><%= login_logout %></li>
    </ul>
  </nav>
</div>
<% end %>