<%= content_tag :div, class:'header' do %>
<%= content_tag :div, class:'logo' do %>
<%= content_tag :h1, class:'heading-primary' do %>
<%= content_tag :span,'Sushi', class: 'heading-primary--main' %>
<%= content_tag :span,'To You', class: 'heading-primary--sub' %>
<% end %>
<%= image_tag('icons/sushi-1.png', class: 'logo__icon') %>
<% end %>
<div class="navigation">
  <input type="checkbox" id="navi-toggle" class="navigation__checkbox">
  <label for="navi-toggle" class='navigation__button'>
    <span class='navigation__icon'>&nbsp;</span>
  </label>
  <div class="navigation__background">&nbsp;</div>
 <%= total_items %>

  <nav class="navigation__nav">
   <div class="navigation__nav__page navigation__nav__page--1"></div>
   <div class="navigation__nav__page navigation__nav__page--2"></div>
   <div class="navigation__nav__page navigation__nav__page--3"></div>
   <div class="navigation__nav__page navigation__nav__page--4"></div>
   <div class="navigation__nav__page navigation__nav__page--5"></div>
  </nav>
</div>
<% end %>