<div class="header">
  <% if current_user.id %>
  <%= current_user.name%>
  <img src="<%= current_user.avatar %>" alt="profile image">


  <%= link_to 'Logout', logout_path %>
  <% end %>
</div>

<div class="menu">
  <div class="categories">
    <% @categories.each do |category| %>
    <div class="categories__container">
      <a href="<%= category_path(category) %>">
        <div class="categories__icon"></div>
      </a>
      <h4 class="categories__text"><%= category.name %></h4>
    </div>
    <% end %>
  </div>
  <h3 class="menu__header">Popular</h3>
  <div class="items">

    <% @items.each do |item| %>
    <div class="items__container">
      <%= image_tag('sushi',class: 'items__img') %>

    </div>
    <% end %>
  </div>


</div>