<aside>
    <nav class="main-menu">
      <ul>
        <li>
          <a href="<%=admin_dashboard_path%>">
            <i class="fa"> <svg>
            <use xlink:href="#home"></use></svg></i>
            <span class="nav-text">dashboard</span>
          </a>
        </li>
        <li>
          <a href="<%=admin_categories_path%>">
            <i class="fa "> <svg>
            <use xlink:href="#list"></use></svg></i>
            <span class='nav-text'>categories</span>
          </a>
        </li>
        <li>
          <a href="<%=admin_items_path%>">
            <i class="fa"> <svg>
            <use xlink:href="#sushi-nav"></use></svg></i>
            <span class='nav-text'>items</span>
          </a>
        </li>
                <li>
          <a href="<%=admin_users_path%>">
            <i class="fa"> <svg>
            <use xlink:href="#user"></use></svg></i>
            <span class='nav-text'>users</span>
          </a>
        </li>
                <li>
          <a href="<%=admin_orders_path%>">
            <i class="fa"> <svg>
            <use xlink:href="#order"></use></svg></i>
            <span class='nav-text'>Orders</span>
          </a>
        </li>
                <li>
          <a href="<%=admin_comments_path%>">
            <i class="fa"> <svg>
            <use xlink:href="#comments"></use></svg></i>
            <span class='nav-text'>comments</span>
          </a>
        </li>
      </ul>

      <ul class="logout">
       <li>
          <a href="<%=root_path%>">
            <i class="fa"> 
            <svg>
            <use xlink:href="#worldwide"></use></svg></i>
            <span class="nav-text">Visit Site</span>
          </a>
        </li>
        <li>
          <a href="<%=logout_path%>">
            <i class="fa"> 
            <svg>
            <use xlink:href="#stand-by"></use></svg></i>
            <span class="nav-text">Logout</span>
          </a>
        </li>
      </ul>
    </nav>
  </aside>