
<%= form_for category, url:url, html:{class:'crud-form'} do |f| %>
  <div class="float-label">
    <%= f.text_field :name %>
  <%= f.label :name %>
  </div>
  <div class="float-label">
    <%= f.text_field :icon %>
    <%= f.label :icon %>
  </div>
  <%= f.submit class:'btn btn-crud'%>


<% end %>
