
<% @categories.each do |category| %>
  <li>
     <h3><%= category.name %></h3>
     <%= link_to 'edit',edit_admin_category_path(category), class:'crud-button' %>
     <%= link_to 'show', admin_category_path(category),class:'crud-button'%>
     <%= button_to 'destroy', admin_category_path(category), method: 'delete', class:'crud-button' %>
  </li>
<% end %>

<%= link_to 'new', new_admin_category_path,class:'crud-button'%>
