<!DOCTYPE html>
<html>

<head>
  <title>Sushi To You</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Revalia&display=swap" rel="stylesheet">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <% flash.keys.each do |type| %>
  <div data-alert class="flash <%= type %> alert-box radius">
    <%= flash[type] %>
    <a id="close">&times;</a>
  </div>
  <% end %>

  <%= render 'admin/partials/header' %>
  <%= render 'admin/partials/navbar' %>
  <main class="admin__container">
  <%= yield %>
  </main>



</body>
<script>
  node = document.getElementById("close");

if (node) {
       node.addEventListener('click', function () {
    document.querySelector('.flash').style.display = 'none'
  })
  setTimeout(function() {
    document.querySelector('.flash').style.opacity = '0';
}, 5000);
}
</script>
</html>
