<!DOCTYPE html>
<html>
  <head>
    <title>Sushi To You</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.keys.each do |type| %>
    <div data-alert class="flash <%= type %> alert-box radius">
    <%= flash[type] %>
    <a id="close">&times;</a>
    </div>
    <% end %>
<main class='main-container'> 
<%= yield %>
</main>

    
  </body>
</html>
