<!DOCTYPE html>
<html>

<head>
  <title>Sushi To You</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Revalia&display=swap" rel="stylesheet">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<%= render 'partials/svg' %>
  <% flash.keys.each do |type| %>
  <div data-alert class="flash <%= type %> alert-box radius">
    <%= flash[type] %>
    <a id="close">&times;</a>
  </div>
  <% end %>
  
  <main class='main-container'>
    <%= yield %>
  </main>


</body>
<script>
  node = document.getElementById("close");

if (node) {
       node.addEventListener('click', function () {
    document.querySelector('.flash').style.display = 'none'
  })
  setTimeout(function() {
    document.querySelector('.flash').style.opacity = '0';
}, 5000);
}


  function grand_total() {
    span = document.querySelectorAll('.item_total')
    arr = []
    span.forEach(total => arr.push(parseFloat(total.innerText)))
    return arr.reduce((a, b) => a + b, 0).toFixed(2)
  }

  grand = document.querySelector('.grand_total')
  grand.innerHTML = grand_total()

  function increaseValue() {
  var value = parseInt(document.getElementById('number').value, 10);
  value = isNaN(value) ? 1 : value;
  value < 9 ? value++ : value;
  document.getElementById('number').value = value;
}

function decreaseValue() {
  var value = parseInt(document.getElementById('number').value, 10);
  value = isNaN(value) ? 0 : value;
  value < 1 ? value = 1 : '';
  value > 0 ? value-- : value;
  document.getElementById('number').value = value;
}
</script>

</html>
